graft src
prune src/bendingar/__pycache__
prune src/bendingar/.mypy_cache
prune test
exclude src/bendingar/_bin.cpp
include src/bendingar/resources/ordalisti-all.dawg.bin
include src/bendingar/resources/ordalisti-prefixes.dawg.bin
include src/bendingar/resources/ordalisti-suffixes.dawg.bin
include src/bendingar/resources/compressed.bin
exclude src/bendingar/resources/*.csv
exclude src/bendingar/resources/*.txt
exclude src/bendingar/resources/KRISTINsnid.*
exclude src/bendingar/*.o
exclude src/bendingar/*.so
